In [10]:
import polars as pl
import polars.selectors as cs

In [5]:
df = pl.read_csv('data/stud.csv')

In [6]:
df.describe()

shape: (9, 9)
┌────────────┬────────┬────────────┬───────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ statistic  ┆ gender ┆ race_ethni ┆ parental_ ┆ … ┆ test_prep ┆ math_scor ┆ reading_s ┆ writing_s │
│ ---        ┆ ---    ┆ city       ┆ level_of_ ┆   ┆ aration_c ┆ e         ┆ core      ┆ core      │
│ str        ┆ str    ┆ ---        ┆ education ┆   ┆ ourse     ┆ ---       ┆ ---       ┆ ---       │
│            ┆        ┆ str        ┆ ---       ┆   ┆ ---       ┆ f64       ┆ f64       ┆ f64       │
│            ┆        ┆            ┆ str       ┆   ┆ str       ┆           ┆           ┆           │
╞════════════╪════════╪════════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ count      ┆ 1000   ┆ 1000       ┆ 1000      ┆ … ┆ 1000      ┆ 1000.0    ┆ 1000.0    ┆ 1000.0    │
│ null_count ┆ 0      ┆ 0          ┆ 0         ┆ … ┆ 0         ┆ 0.0       ┆ 0.0       ┆ 0.0       │
│ mean       ┆ null   ┆ null       ┆ null      ┆ … ┆ null      ┆ 66.089    ┆ 69.169    ┆ 68.054    │
│ std        ┆ null   ┆ null       ┆ null      ┆ … ┆ null      ┆ 15.16308  ┆ 14.600192 ┆ 15.195657 │
│ min        ┆ female ┆ group A    ┆ associate ┆ … ┆ completed ┆ 0.0       ┆ 17.0      ┆ 10.0      │
│            ┆        ┆            ┆ 's degree ┆   ┆           ┆           ┆           ┆           │
│ 25%        ┆ null   ┆ null       ┆ null      ┆ … ┆ null      ┆ 57.0      ┆ 59.0      ┆ 58.0      │
│ 50%        ┆ null   ┆ null       ┆ null      ┆ … ┆ null      ┆ 66.0      ┆ 70.0      ┆ 69.0      │
│ 75%        ┆ null   ┆ null       ┆ null      ┆ … ┆ null      ┆ 77.0      ┆ 79.0      ┆ 79.0      │
│ max        ┆ male   ┆ group E    ┆ some high ┆ … ┆ none      ┆ 100.0     ┆ 100.0     ┆ 100.0     │
│            ┆        ┆            ┆ school    ┆   ┆           ┆           ┆           ┆           │
└────────────┴────────┴────────────┴───────────┴───┴───────────┴───────────┴───────────┴───────────┘

In [7]:
target_column_name = 'math_score'
[feature for feature in df.columns if df[feature].dtype != pl.String and feature != target_column_name]

['reading_score', 'writing_score']

In [27]:
df.select(cs.numeric()).select(pl.exclude(target_column_name)).columns

['reading_score', 'writing_score']

In [8]:
df.drop(columns=[target_column_name])

C:\Users\bor.cerne\AppData\Local\Temp\ipykernel_7448\1229443203.py:1: DeprecationWarning: named `columns` param is deprecated; use positional `*args` instead.
  df.drop(columns=[target_column_name])

shape: (1_000, 7)
┌────────┬──────────────┬──────────────┬──────────────┬──────────────┬──────────────┬──────────────┐
│ gender ┆ race_ethnici ┆ parental_lev ┆ lunch        ┆ test_prepara ┆ reading_scor ┆ writing_scor │
│ ---    ┆ ty           ┆ el_of_educat ┆ ---          ┆ tion_course  ┆ e            ┆ e            │
│ str    ┆ ---          ┆ ion          ┆ str          ┆ ---          ┆ ---          ┆ ---          │
│        ┆ str          ┆ ---          ┆              ┆ str          ┆ i64          ┆ i64          │
│        ┆              ┆ str          ┆              ┆              ┆              ┆              │
╞════════╪══════════════╪══════════════╪══════════════╪══════════════╪══════════════╪══════════════╡
│ female ┆ group B      ┆ bachelor's   ┆ standard     ┆ none         ┆ 72           ┆ 74           │
│        ┆              ┆ degree       ┆              ┆              ┆              ┆              │
│ female ┆ group C      ┆ some college ┆ standard     ┆ completed    ┆ 90           ┆ 88           │
│ female ┆ group B      ┆ master's     ┆ standard     ┆ none         ┆ 95           ┆ 93           │
│        ┆              ┆ degree       ┆              ┆              ┆              ┆              │
│ male   ┆ group A      ┆ associate's  ┆ free/reduced ┆ none         ┆ 57           ┆ 44           │
│        ┆              ┆ degree       ┆              ┆              ┆              ┆              │
│ male   ┆ group C      ┆ some college ┆ standard     ┆ none         ┆ 78           ┆ 75           │
│ …      ┆ …            ┆ …            ┆ …            ┆ …            ┆ …            ┆ …            │
│ female ┆ group E      ┆ master's     ┆ standard     ┆ completed    ┆ 99           ┆ 95           │
│        ┆              ┆ degree       ┆              ┆              ┆              ┆              │
│ male   ┆ group C      ┆ high school  ┆ free/reduced ┆ none         ┆ 55           ┆ 55           │
│ female ┆ group C      ┆ high school  ┆ free/reduced ┆ completed    ┆ 71           ┆ 65           │
│ female ┆ group D      ┆ some college ┆ standard     ┆ completed    ┆ 78           ┆ 77           │
│ female ┆ group D      ┆ some college ┆ free/reduced ┆ none         ┆ 86           ┆ 86           │
└────────┴──────────────┴──────────────┴──────────────┴──────────────┴──────────────┴──────────────┘

In [5]:
import numpy as np

In [10]:
neki_random_array = np.array([[1,2,3],[4,5,6],[7,8,9]])

neki_random_array[:,:-1]

array([[1, 2],
       [4, 5],
       [7, 8]])